body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5f0e3;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode .navegacao a {
    color: white;
}

.navegacao {
    background-color: rgb(255, 147, 147);
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: solid 3px black;
    justify-content: space-between;
    padding: 0 20px;
}

.navegacao a {
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    font-size: 16px;
    white-space: nowrap;
}

.navegacao a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -20px;
    height: 57px;
    width: 2px;
    background-color: black;
}

.container {
    text-align: center;
}

.cabecalho {
    align-items: center;
}

.toggle-btn {
    margin-top: 10px;
    background-color: #c2b741;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #968e37;
}

  .form-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .estrelas {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .star-icon {
    font-size: 30px;
    color: grey;
    cursor: pointer;
    transition: color 0.2s ease;
  }

  .star-icon.ativo {
    color: gold;
  }

  .star-icon:hover,
  .star-icon:hover ~ .star-icon {
    color: yellow;
  }

  .btnAvaliacao {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .resultAvaliacao {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }

  body.dark-mode .resultAvaliacao{
    color: white;
}

  .usos {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
}

body.dark-mode .usos{
    color: white;
}
