body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode .navegacao a {
    color: white;
}

.navegacao {
    background-color: #007bff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
}

.navegacao a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    font-size: 23px;
    white-space: nowrap;
}

.container {
    text-align: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-btn {
    margin-top: 10px;
    background-color: #c2b741;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #968e37;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}

body.dark-mode .toggle-password {
    color: black;
}

#registro_form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color:#f9f9f9;
    border-radius: 8px;  
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.input-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btnCadastro {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.usos {
    color: black;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
}

body.dark-mode .usos{
    color: white;
}   
.imgPremium{
    width:  200px;
    height: 150px;
}
  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
}