body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode .navegacao a {
    color: white;
}

.navegacao {
    background-color: #007bff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
}

.navegacao a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    font-size: 23px;
    white-space: nowrap;
}

.navegacao h1{
    color: white;
    margin-right: 400px;
}

.navegacao a:not(:last-child)::after {
    position: absolute;
    right: -10px;
    top: -20px;
    height: 57px;
    width: 2px;
    background-color: black;
}

.cont {
    text-align: center;
}
.container {
    text-align: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-btn {
    margin-top: 10px;
    background-color: #c2b741;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #968e37;
}

.containerr {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    color: black;
    background-color:#f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: black;
    outline: none;
}

textarea {
    resize: vertical;
    height: 120px;
}

.btnContato {
    width: 100%;
    padding: 15px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btnContato:hover {
    background-color: #fc6052;
}

.social-icons {
    margin-top: 20px;
    text-align: center;
}

.social-icons i {
    font-size: 40px;
    margin: 0 20px;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.social-icons i:hover {
    color: #0056b3;
}

body.dark-mode .social-icons i {
    color: #0056b3;
}

body.dark-mode .social-icons i:hover {
    color: #0056b3;
}

.usos {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
}

body.dark-mode .usos{
    color: white;
}

.imgPremium{
    width:  200px;
    height: 150px;
  
}
  
footer {
    position: absolute;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}
