/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo escuro */
body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode .navegacao a {
    color: white;
}

body.dark-mode .box-materials a {
    color: #ddd;
}

body.dark-mode .usos {
    color: #ddd;
}

/* Navegação */
.navegacao {
    background-color: #4e73df;  /* Azul */
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #fff;
    flex-wrap: wrap;
}

.navegacao a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin: 5px;
}

.navegacao a:hover {
    background-color: #3a5bce;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.imgPremium {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}

.toggle-btn {
    background-color: #c2b741;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: #968e37;
}

/* Pesquisa */
#searchbar {
    margin-top: 30px;
    padding: 10px;
    width: 50%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Layout das matérias em grid */
.grid-container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 2fr);  /* 4 colunas */
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}



.mts {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mts a {
    text-decoration: none;
    color: #4e73df;  /* Azul */
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.mts a:hover {
    color: #333;
    text-decoration: underline;
}

/* Botões de Favoritar */
.button-container {
    display: flex;
    justify-content: space-around;
}

.favoritar, .desfavoritar {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.favoritar {
    background-color: #61c599;
}

.desfavoritar {
    background-color: #ff6161;
}

.coracao_icon {
    font-size: 16px;
}

/* Termos de Uso */
.usos {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    color: #4e73df;
    display: block;
}

.usos:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.image-container{
    display: flex;
    text-align: center;
}
