body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5f0e3;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode .navegacao a {
    color: white;
}

.navegacao {
    background-color: rgb(255, 147, 147);
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: solid 3px black;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #551a88;
}

.cabecalho {
    text-align: center;
    margin-top: 20px;
}

.container {
    text-align: center;
}

.container-display {
    width: 100%;
    background-color: skyblue;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}

body.dark-mode .toggle-password {
    color: black;
}


#registro_form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cabcad{
    color: black;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.input-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-align: right;
}

.btnCadastro {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.usos {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

body.dark-mode .usos{
    color: white;
}
