body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5f0e3;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode .navegacao a {
    color: white;
}

.navegacao {
    background-color: rgb(255, 147, 147); /* Cor de fundo do cabeçalho */
    height: 50px; /* Altura do cabeçalho */
    display: flex;
    align-items: center;
    border-bottom: solid 3px black;
    justify-content: space-between;
    padding: 0 20px;
}

.navegacao a {
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    font-size: 16px;
    white-space: nowrap;
}

.navegacao a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -20px;
    height: 57px;
    width: 2px;
    background-color: black;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #551a88;
}

.container {
    text-align: center;
}

.cabecalho {
    align-items: center;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff; /* Fundo branco para destacar o conteúdo */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ter {
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
    font-size: 25px
}

.tr {
    margin-left: 20px;
    padding-left: 20px;
    font-size: 25px
}

.tr li {
    margin-bottom: 10px;
    color: #444;
}

.trr{
    color: purple;
    font-size: 40px;

}

