.professores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.professor-perfil {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.professor-imagem img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}


.professor-nome,
.professor-materia,
.professor-destaque {
    margin-bottom: 10px;
}

.professor-nome {
    font-size: 18px;
    font-weight: bold;
}

.professor-materia {
    font-size: 16px;
}

.professor-destaque {
    font-size: 14px;
    color: #555;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5f0e3;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode .navegacao a {
  color: white;
}

.navegacao{
    background-color: rgb(255, 147, 147);
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: solid 3px purple;
    justify-content: space-around;
}


.materias {
    text-decoration: none;
    color: #000;
    flex-grow: 1;
    text-align: center;
}


.container{
    text-align: center;
}

.container-display {
    width: 100%;
    background-color: skyblue;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.prof {
    display: inline-block;
    color: black;
    background-color: orange;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin-left: 1350px

}

.prof:hover {
    color: #ffffff;
    background-color: #19d423;
}