body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode .navegacao a {
    color: white;
}

.matfav{
    text-align: center;
}

.navegacao {
    background-color: rgb(68, 68, 68);
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: solid 3px black;
    justify-content: space-between;
  }
  
  .navegacao a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 23px;
    white-space: nowrap;
}

.container {
    text-align: center;
}

.cabecalho {
    align-items: center;
}

.toggle-btn {
    margin-top: 10px;
    background-color: #c2b741;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #968e37;
}

.usos {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
}

body.dark-mode .usos{
    color: white;
}

footer {
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  .imgPremium{
    width:  200px;
    height: 150px;
  }
