body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5f0e3;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode .navegacao a {
    color: white;
}

.navegacao {
    background-color: rgb(255, 147, 147);
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: solid 3px black;
    justify-content: space-between;
    padding: 0 20px;
}

.navegacao a {
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    font-size: 16px;
    white-space: nowrap;
}

.navegacao a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -20px;
    height: 57px;
    width: 2px;
    background-color: black;
}

.container {
    text-align: center;
}

.cabecalho {
    align-items: center;
}

.toggle-btn {
    margin-top: 10px;
    background-color: #c2b741;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #968e37;
}

#centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div {
    border: solid purple 7px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50%;
}

.hover-image {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hover-image:hover {
    transform: translateY(-20px);
}

.box-materials {
    margin: 10px;
    border: solid black 3px;
    text-align: center;
}

.box-materials a {
    font-size: 30px;
    color: purple;
    text-decoration: none;
}

body.dark-mode .box-materials a {
    color: white;
}

.usos {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
}

body.dark-mode .usos {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  .imgPremium{
    width:  200px;
    height: 150px;
  }
